# Configuration PostgreSQL
# Si USE_SQLITE est "true", l'application utilisera SQLite localement sans nécessiter de serveur PostgreSQL installé
USE_SQLITE=false

DB_HOST=localhost
DB_PORT=5432
DB_NAME=gestion_projets
DB_USER=postgres
DB_PASSWORD=postgres

# Clé secrète Flask pour les sessions et formulaires
SECRET_KEY=change_me_super_secret_key_12345
